html {
    height: 100%;
    width: 100%;
  }

*{
    background-color: black;
    font-family: trebutchet MS;
    color: white;
}
.logo{
    margin: 25px;
}

/* Navigation Bar */
.header {
    /*Aligned left incase we want a search bar*/
   text-align: left;
   padding: 20px 10px;
   overflow: hidden;
   text-decoration: none;
   font-family: 'Franklin Gothic Medium';
   /*Border removed becaues it wasn't in mockups*/
 }
 .header a {
   display: inline-block;
   overflow: hidden;
   text-decoration: none;
   font-family: 'Franklin Gothic Medium';
   font-size: 25px;
   padding: 10px;
   margin-bottom: 5%;
   margin-left: 12%;
   border-radius: 5px;
 }
 .header a:hover {
   /*hover changed to light blue*/
   background-color: lightblue;
   overflow: hidden;
   text-decoration: none;
   font-family: 'Franklin Gothic Medium';
   color: black;
 }

  /*Header*/ 
  /*columns and rows*/ 
  .column {
    float: left;
    padding: 10px;
}
/* 4 columns - logo and nav bar */
.column.side {
  width: 90%;
}
  /* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
      /* Responsive layout - makes the two columns stack on        top of each other instead of next to each other */
      @media screen and (max-width: 600px) {
        .column.side, .column.middle {
          width: 100%;
        }
        }


       /*Body*/   
.whitebg {
  background-color: white;
  color: black;
  padding: 10px;
}





 /*Footer*/ 
.footer a {
 
  overflow: hidden;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium';
  font-size: 20px;
  margin-left: 35%;
  margin-right: 10%;
}
.p1 {

  overflow: hidden;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium';
  font-size: 20px;
}
